html
	head
		title Trump
		link(rel = 'stylesheet', href = 'stylesheets/normalize.css') 
		link(rel = 'stylesheet', href = 'stylesheets/main.css') 
	body
		.wrapper
			.bg
				.bg-img
					img(src = 'assets/images/guy.jpg', alt = '') 
				.bg-solid
			.content
				h1.title Trump
				h2.subtitle Putting the social back in social gaming.
				button.button.learn-more Learn More
				.iphones-img
					img(src="assets/images/phones@2x.png", alt="")
		script(src='//use.typekit.net/xhc2hfn.js') 
		script
			try{Typekit.load();}catch(e){}

